################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/SqlBuild/bin/Debug
/SqlBuild/obj
/SqlBuild/bin
/SqlBuild.MsBuild/obj
/SqlBuild.MsBuild/bin
/SqlBuild.MsBuild.Test/obj
/SqlBuild.MsBuild.Test/bin
/SqlBuild.Test/obj
/SqlBuild.Test/bin
/SqlBuild.ExampleProject/bin/Debug
/SqlBuild.ExampleProject/Debug
/SqlBuild.ExampleProject/obj/Debug
/SqlBuild.sln.DotSettings.user
/SqlBuild.v12.suo
/SqlBuild.Documentation/bin
/SqlBuild.Documentation/obj/Debug
/SqlBuild.Documentation/SqlBuild.Documentation.csproj.user
